.container_signup_component {
  .signup_component {
    @include container;

    .input_group {
      position: relative;
      margin: 20px 0;

      input {
        width: 320px;
        height: 40px;
        font-size: $font_extra_medium;
        padding: 0 10px;
        background: transparent;
        border: 1px solid #333;
        outline: none;
        border-radius: 6px;
      }

      label {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.5s;
      }
      input:focus ~ label {
        top: 0;
        font-size: $font_small;
        background: $color_white;
      }
    }
    .terms_condition {
      margin: -12px 0 13px;
      label input {
        font-size: $font_large_small;
        accent-color: $color_button_background_slow_red;
        color: $color_white;
      }
    }

    .button {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
    }
  }
}
