.container_signup_component {
  margin: 20px 0;
  .signup_component {
    @include container;

    @include media-responsive(md) {
      display: flex;
      justify-content: center;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;

    .signup_img {
      position: relative;
      width: 75%;
      height: 400px;

      @include media-responsive(md) {
        display: none;
      }
    }
    .inputs_group {
      display: flex;
      justify-content: center;

      .form_title {
        h2 {
          font-family: $font_family_poppins;
        }
        h5 {
          font-family: $font_family_poppins;
        }
      }
      .input_group {
        position: relative;
        margin: 20px 0;

        input {
          width: 320px;
          height: 40px;
          font-size: $font_extra_medium;
          padding: 0 10px;
          background: $color_white;
          border: 1px solid $color_gray_dark;
          outline: none;
          border-radius: 6px;
          &:focus {
            border: 1px solid $color_damage_green;
          }
        }
        textarea {
          width: 320px;
          height: 140px;
          font-size: $font_extra_medium;
          padding: 0 10px;
          background: $color_white;
          border: 1px solid $color_gray_dark;
          outline: none;
          border-radius: 6px;
          &:focus {
            border: 1px solid $color_damage_green;
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 8px;
          padding: 2px 4px;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.5s;
          opacity: 75%;
        }

        input:valid ~ label,
        input:focus ~ label {
          top: 0;
          font-size: $font_small;
          background: $color_white;
          opacity: 100%;
        }
      }
      .terms_condition {
        margin: -12px 0 13px;
        label input {
          font-size: $font_large_small;
          accent-color: $color_damage_green;
        }
        label {
          font-size: $font_large_small;
          font-family: $font_family_poppins;
          font-weight: $font_500;
          span {
            color: $color_damage_green;
          }
        }
      }

      .button {
        position: relative;
        top: 0;
        left: 0;
        width: 320px;
        height: 40px;
        cursor: pointer;
        background: $color_button_red;
        color: $color_white;
        border: none;
        &:hover {
          background: $color_damage_green;
        }
      }
    }
    .third_auth {
      ul {
        margin: 13px 0;
        position: relative;
        hr {
          width: 320px;
        }
        span {
          transform: translateX(-50%);
          top: -8px;
          left: 50%;
          background: $color_white;
          padding: 1px 4px;
          position: absolute;
        }
      }
      .third_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 40px;
        cursor: pointer;
        background: $color_white;
        color: $color_black;
        border: 1px solid $color_damage_green;
        font-size: $font_extra_medium;
        font-weight: $font_500;
        margin: 10px 0;
        &:hover {
          background: $color_damage_green;
          color: $color_white;
        }
      }
      h5 {
        span {
          color: $color_damage_green;
        }
      }
    }
  }
}
