.container {
  .navbar {
    display: flex;
    align-items: center;

    @include media-responsive(sm) {
      display: none;
    }

    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    &__logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__links {
      display: flex;
      align-items: center;
       column-gap: 16px;
      margin: 0;
      margin-left: 0 !important;
      padding: 0;

      & .navbar__link {
         
        position: relative;
        
        list-style: none;
        z-index: 15;

        li {

          cursor: pointer;
        }

        & a {
          text-decoration: none;
          color: #333;
          font-family: $font_family_poppins;
        }

        &.dropdown:hover .dropdown__menu {
          display: block;
        }

        & .dropdown__menu {
          position: absolute;
          top: 100%;
          right: 0;
          display: none;
          margin: 0;
          padding: 0 5px;
          background-color: #fff;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          

          & .dropdown__menu-item {
            margin: 0;
            padding: 0.5rem;
            list-style: none;

            &:hover {
              background-color: $color_gray_white;

            }

            & .link {
              text-decoration: none;
              color: #333;
              font-family: $font_family_poppins;
              

              &:hover {
                text-decoration: underline;
                text-decoration-color: $color_damage_green;
              }
            }
          }
        }
      }
    }

    .profile_logo {
      margin: 0 6px;
      font-size: $font_extra_medium;
      list-style: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}