.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #717bec;
  transition: all 0.3s ease;

  &.open {
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;

      &:hover {
        background-color: #555;
      }

      &.has-dropdown {
        position: relative;
        cursor: pointer;

        ul {
          position: absolute;
          top: 0;
          left: 100%;
          width: 200px;
          background-color: #444;
          padding: 10px;
          display: none;

          li {
            padding: 10px;

            &:hover {
              background-color: #555;
            }
          }
        }

        &:hover ul {
          display: block;
        }
      }
    }
  }
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 130px;
  padding: 10px;
  background-color: #c13131;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;

  i {
    transition: all 0.3s ease;

    &.open {
      transform: rotate(90deg);
    }
  }
}
