.cart_main_banner {
  background-color: rgb(212, 212, 212);
  width: 100%;
  margin: 10px 0;
  height: 100px;
  display: flex;
  align-items: center;
  .cart_main_banner_container {
    @include container;
  }
}

.cart_main_components {
  padding: 4rem 0 !important;
  @include container;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
