.modal_shadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  .modal_product {
    width: 900px;
    height: 500px;
    position: relative; //
    @include media-responsive(md){
        height: 500px;
        @include media-responsive(sm){
          height: 450px;
          
          
        }
    }
    background-color: $color_white;
    z-index: 12;
    position: relative;
    display: flex;
    align-items: center;
    @include media-responsive(md){
        margin: 0 1rem;
    }

    .delete_icon {
      position: absolute;
      right: -7px;
      top: -7px;
      @include media-responsive(md){
         
        z-index: 20;
      }
      h6 {
        width: 25px;
        height: 25px;
        border-radius: 30px;
        background-color: $color_button_red;
        color: $color_white;
        font-size: $font_medium;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .modal_product_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include media-responsive(md){
        grid-template-columns: repeat(1, 1fr);


      }
      gap: 10px;
      align-items: center;
      margin: 0px 16px;
      position: relative;
    
      .modal_product_image {
        width: 100%;
        height: 350px;
        position: relative;
        @include media-responsive(md){
          width: 50%;
          height: 150px;

        
        }
       
      }

      .modal_product_texts {
        .product_title {
          font-size: $font_large_large;
          font-family: $font_family_poppins;
          color: $color_gray_dark;
          font-weight: $font_500;
          @include media-responsive(md){
            font-size: $font_extra_medium;
            
          }
        }
        .product_price {
          font-size: $font_large_large;
          font-family: $font-family_roboto;
          font-weight: $font_500;
          color: $color_title_down;
          margin: 5px 0;
          @include media-responsive(md){
            font-size: $font_extra_medium;
            
          }
        }

        .review_count {
          .review_length {
            color: $color_gray_dark;
            font-family: $font_family_poppins;
            font-size: $font_small;
          }
          .last_sold {
            color: $color_button_red;
            font-family: $font_family_poppins;
            font-size: $font_large_small;
            font-weight: $font_600;
          }
        }

        .product_details_title {
          font-size: $font_large_medium;
          font-family: $font_family_poppins;
          font-weight: $font_500;
          margin-top: 16px;
          margin-bottom: 8px;
          @include media-responsive(sm){
            display: none;
            
          }
        }
        .product_description {
          font-family: $font_family_poppins;
          font-size: $font_large_small;
          word-break: break-word;
          margin-bottom: 10px;
          opacity: 75%;
          @include media-responsive(sm){
            display: none;
            
          }
        }
        .product_types {
          p {
            color: $color_gray_dark;
            font-size: $font_extra_medium;
            font-family: $font_family_poppins;
            margin: 2px 0px;
            @include media-responsive(sm){
             
              font-size: $font_large_small;
              
            }
          }
        }

        .product_size {
          color: $color_gray_dark;
          font-size: $font_extra_medium;
          font-family: $font_family_poppins;
          margin: 12px 0px;
          @include media-responsive(sm){
            font-size: $font_large_small; 
          }

          select {
            border: 1px solid $color_damage_green;
            outline: none;
            @include media-responsive(sm){
              font-size: $font_small; 
            }
          }
        }
        .product_details_button {
          display: flex;
          gap: 6px;
          .button_add {
            @include shop_buttons(medium);
            border-radius: 0;
            background-color: $color_gray_dark;
            font-family: $font_family_roboto;
            @include media-responsive(sm){
              font-size: $font_large_small;
            }
            &:hover {
              margin-left: 0;

              background-color: $color_button_red;
              font-weight: $font_500;
            }

            &:focus {
              background-color: $color_indigo_medium;
            }
          }
          .button_cart {
            @include shop_buttons(medium);
            border-radius: 0;
            background-color: $color_damage_green;
            @include media-responsive(sm){
              font-size: $font_large_small;
            }
            &:hover {
              margin-left: 0;
              background-color: $color_button_red;
              font-weight: $font_500;
            }
            &:focus {
              background-color: $color_indigo_medium;
            }
          }
        }
      }
    }
  }
}
