$color_black: rgb(0, 0, 0);
$color_damage_green: #0da487;
$color_button_red: #fa3a3a;
$color_gray: rgb(155, 148, 148);
$color_button_background_red: #bb9696;
$color_button_background_slow_red: #00ff59;
$color_white: #ffffff;
