$color_black: rgb(0, 0, 0);
$color_damage_green: #0da487;
$color_button_red: #fa3a3a;
$color_gray: rgb(207, 201, 201);
$color_gray_white: rgba(241, 235, 235, 0.686);
$color_button_background_red: #bb9696;
$color_button_background_slow_red: #00ff59;
$color_white: #ffffff;
$color_indigo: rgb(60, 0, 102);
$color_indigo_medium: rgb(11, 3, 89);
$color_what_light: #f2f2f2;
$color_gray_dark: #4a5568;
$color_title_down: #474949;
$color_footer_down: #051616;
