$font_extra_small: 10px;
$font_small: 12px;
$font_large_small: 14px;
$font_extra_medium: 16px;
$font_medium: 18px;
$font_large_medium: 20px;
$font_extra_large: 22px;
$font_large: 24px;
$font_large_large: 26px;
$font_extra_small_heading: 28px;
$font_small_heading: 30px;
$font_heading: 32px;
$font_large_heading: 34px;
$font_large_large_heading: 40px;
