@mixin shop_button_extra_small {
  border: 0px;
  padding: 4px 12px;
  background-color: $color_button_red;
  color: $color_white;
  font-size: $font_large_small;
  font-family: $font_family_poppins;
  font-weight: $font_600;
  margin-top: 8px;
  border-radius: 25px;
  &:hover {
    cursor: pointer;
    font-weight: $font_600;
    background-color: $color_damage_green;
    margin-left: 6px;
    transition: all 200ms ease-in;
  }
}
