@mixin shop_buttons($value) {
  @if $value == small {
    border: 0px;
    padding: 4px 12px;
    background-color: $color_button_red;
    color: $color_white;
    font-size: $font_large_small;
    font-family: $font_family_poppins;
    font-weight: $font_600;
    margin-top: 8px;
    border-radius: 25px;
    &:hover {
      cursor: pointer;
      font-weight: $font_600;
      background-color: $color_damage_green;
      margin-left: 6px;
      transition: all 200ms ease-in;
    }
  } @else if $value==medium {
    border: 0px;
    padding: 8px 1rem;
    background-color: $color_button_red;
    color: $color_white;
    font-size: $font_medium;
    font-family: $font_family_poppins;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: $font_500;
    border-radius: 25px;
    &:hover {
      cursor: pointer;
      font-weight: $font_600;
      background-color: $color_damage_green;
      margin-left: 6px;
      transition: all 200ms ease-in;
    }
  } @else if $value == more_deliver {
    border: 0px;
    font-size: $font_medium;
    font-family: $font_family_poppins;
    cursor: pointer;
    padding: 8px 2rem;
    color: $color_what_light;
    background-color: $color_damage_green;
  }
}
