.main_banner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  position: relative;

  .banner_left {
    grid-column: auto / span 4;
    position: relative;
    .banner_img_left {
      position: relative;
      width: 100%;
      height: 450px;
      border-radius: 115px;
    }

    .banner_text_left {
      position: absolute;
      top: 3rem;
      left: 2.5rem;

      p {
        opacity: 85%;
        font-size: $font_medium;
      }

      #parseint {
        color: $color_button_red;
        background-color: $color_button_background_red;
        background: linear-gradient(
          to right,
          $color_button_background_red,
          $color_white
        );
        opacity: 100% !important;
        font-weight: $font_600;
        padding: 6px 10px;
        margin: 0px 12px;
        border-radius: 20px;
      }

      h2 {
        font-size: $font_large_large_heading;
        margin: 1.5rem 0px 5px 0px;
        font-family: $font_family_poppins;
        opacity: 90%;
      }

      #daily_need {
        color: $color_damage_green;
        margin: 0px;
        font-family: $font_family_poppins;
      }

      #some_des {
        font-size: $font_large_medium;
        font-family: $font_family_poppins;
        opacity: 75%;
        width: 40%;
        margin: 1rem 0px;
      }

      .shop_now {
        @include shop_buttons(medium);
      }
    }
  }

  .banner_right {
    position: relative;
    .banner_right_img {
      position: relative;
      width: 100%;
    }

    .banner_text_right {
      position: absolute;
      top: 2rem;
      left: 1rem;
      h2 {
        font-size: $font_heading;
        color: $color_button_red;
        font-family: $font_family_roboto;
      }
      #off {
        color: $color_gray;
        font-size: $font_large_small;
        margin: 0px 5px;
      }
      .refresh {
        margin: 8px 0px;
        color: $color_damage_green;
        font-size: $font_large;
      }
      .week_deal {
        font-size: $font_medium;
        opacity: 75%;
      }

      .shop_right_button {
        @include shop_buttons(small);
      }
    }
  }
}
