.main_banner {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;

  .banner_left {
    grid-column: auto / span 4;
    position: relative;
    .banner_img_left {
      position: relative;
      width: 100%;
      height: 450px;
      border-radius: 115px;
    }

    .banner_text_left {
      position: absolute;
      top: 3rem;
      left: 2.5rem;
    }
  }

  .banner_right {
    position: relative;
    .banner_right_img {
      position: relative;
      width: 100%;
    }
  }
}
