.category_div {
  margin: 20px 0px;
  @include media-responsive(sm) {
    margin: 3rem 0;
  }
  .swiper-slide {
    display: flex;
    justify-content: center !important;
  }

  h1 {
    margin-top: 1.5rem;
    border-bottom: 2px solid $color_damage_green;
    padding-bottom: 5px;
    opacity: 75%;
    font-size: $font_small_heading;
    @include media-responsive(sm) {
      font-size: $font_large_medium;
    }
    display: inline-block;
    font-family: $font_family_poppins;
  }

  .category_cart {
    margin: 15px 0px;
    display: inline-block;
    position: inherit;
    cursor: pointer;
    &:hover .category_cart_child {
      border-radius: 8px;
      transition: all 600ms ease-in;
    }
    .category_cart_child {
      padding: 5px 3rem;
      border-radius: 65px;
      background-color: $color_button_background_red;

      .category_image {
        width: 90px;
        height: 90px;
        @include media-responsive(sm) {
          width: 60px;
          height: 60px;
        }
        position: relative;
      }
    }
    h2 {
      text-align: center;
      margin: 5px 0px;
      font-size: $font_large_small;
      font-family: $font_family_poppins;
      font-weight: $font_600;
      opacity: 75%;
    }
  }
}
