h1 {
  margin-top: 1.5rem;
  border-bottom: 2px solid $color_damage_green;
  padding-bottom: 5px;
  opacity: 75%;
  display: inline-block;
  font-family: $font_family_poppins;
}

.product_component {
  margin: 2rem 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @include media-responsive(lg) {
    grid-template-columns: repeat(4, 1fr);
    @include media-responsive(md) {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      @include media-responsive(sm) {
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;

        @include media-responsive(xsm) {
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
        }
      }
    }
  }
  gap: 10px;
}
