.product_cart_main {
  position: relative;
  .product_cart {
    display: inline-block;
    box-shadow: 0px 2px 10px 1px gray;
    padding: 8px 12px;
    overflow: hidden;
    &:hover {
      .product_cart_img_div {
        transform: scale(1.1);
        transition: all 400ms ease-in;
      }
    }
    .product_cart_img_div {
      padding: 3px 1.5rem;

      .product_cart_img {
        width: 100%;
        height: 150px;
        position: relative;
      }
    }

    .product_cart_texts {
      .category {
        font-size: $font_large_small;
        font-family: $font_family_poppins;
        margin: 5px 0px;
        opacity: 75%;
      }
      .title {
        font-size: $font_large_medium;
        font-family: $font_family_poppins;

        opacity: 85%;
      }
      .unit {
        font-size: $font_large_small;
      }
      .price {
        font-size: $font_extra_large;
        font-family: $font_family_roboto;
        font-weight: $font_500;
        color: $color_damage_green;
        margin: 6px 0px;
        s {
          color: $color_button_red;
          font-size: $font_medium;
        }
      }

      .add_to_cart {
        background-color: $color_damage_green;
        padding: 3px 5px;
        border-radius: 20px;
        position: relative;
        text-align: center;
        overflow: hidden;
        cursor: pointer;

        .add_to_cart_product {
          border: 0px;
          width: 100%;
          background-color: inherit;
          color: $color_white;
          cursor: pointer;
          padding: 5px 0px;
          font-family: $font_family_roboto;
        }

        &:hover .add_to_cart_product {
          transform: translateX(5%);
          transition: all 200ms ease-out;
        }

        &:hover {
          background-color: $color_indigo_medium;
        }
      }
    }
  }

  .button {
    display: none;
  }

  &:hover {
    .cart_hover_button {
      transition: 0.5s ease;
      display: flex;
      position: absolute;
      top: 65%;
      left: 21%;
      transform: translate(-4%, -150%);
      -ms-transform: translate(-4%, -150%);
      text-align: center;

      .button {
        display: block;
        color: $color_damage_green;
        font-weight: $font_900;
        border: 1px solid gray;
        border-radius: 60%;
        font-size: $font_small_heading;
        margin: 1px 4px;
        padding: 10px 16px;
        background-color: $color_white;

        cursor: pointer;
      }
    }
  }
}
