.recently_added_cart {
  display: inline-block;
  display: grid;
  grid-template-columns: [left] 6rem [right] 1fr;
  align-items: center;
  padding: 12px 12px;
  margin: 12px 0px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 2px 7px 1px gray;
    border-radius: 15px;
    .recently_added_cart_image {
      transform: scale(1.1);
      transition: all 300ms ease-in;
    }
  }
  &:hover .recently_added_cart_texts > p {
    color: $color_damage_green;
    transition: all 200ms ease-in;
  }
  .recently_added_cart_image {
    width: 80px;
    height: 80px;
    position: relative;
  }

  .recently_added_cart_texts {
    p {
      opacity: 75%;
      font-size: $font_medium;
    }
    span {
      font-size: $font_extra_medium;
      color: $color_damage_green;
      margin: 0px 12px;
    }
    .rated_cart_button {
      @include shop_buttons(small);
    }
  }
}
